<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team08.cs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Melody">

        <activity android:name="com.team08.cs.Music" />

        <activity android:name="com.team08.cs.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.team08.cs.HelplineActivity" />

        <activity android:name="com.team08.cs.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.team08.cs.MainActivity" />
        </activity>

        <service android:name="com.team08.cs.BackgroundSoundService" />
        <activity android:name="com.team08.cs.Name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.team08.cs.Name" />
        </activity>

        <activity android:name="com.team08.cs.ThemeChange">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.team08.cs.ThemeChange" />
        </activity>

        <activity
            android:name="com.team08.cs.ChatActivity"
            android:label="Chat">
        </activity>

        <activity android:name="com.team08.cs.Quotes"/>
        <activity android:name="com.team08.cs.Relationship_quotes"/>
        <activity android:name="com.team08.cs.Friendship_quotes"/>
        <activity android:name="com.team08.cs.Life_quotes"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>