<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team08.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Melody">

        <activity android:name=".Music" />

        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HelplineActivity" />
        <activity
            android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".BackgroundSoundService" />
        <activity android:name=".Name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.team08.myapplication.Name" />
        </activity>

        <activity android:name=".ThemeChange">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.team08.myapplication.ThemeChange" />
        </activity>

        <activity
            android:name=".ChatActivity"
            android:label="Chat">
        </activity>

        <activity android:name=".Quotes"/>
        <activity android:name=".Relationship_quotes"/>
        <activity android:name=".Friendship_quotes"/>
        <activity android:name=".Life_quotes"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>